:root {
 --doc-height: 100%;
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh; /* fallback for Js load */
  height: var(--doc-height);
}

body {
  display: grid;
  place-items: center;
  height: 100vh; /* fallback for Js load */
  height: var(--doc-height);
  margin: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--doc-width);
  height: 100vh; /* fallback for Js load */
  height: var(--doc-height);
}

button {
  cursor: pointer;
}

input::placeholder {
  color: #9A9EA4;
}